Repository jhonnstark/vite-resume: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different

quick fix
  index.html
  src/assets/css/base.css
  src/assets/css/index.css
  src/components/AiPopUpComponent.vue
  src/components/MenuHeader.vue
  src/views/ContactView.vue
  src/views/PhotoAlbumView.vue
Due: none

fix images
  src/assets/css/base.css
  src/assets/css/index.css
  src/assets/img/gatitos.jpeg
  src/views/CharityView.vue
Due: none

fix popup
  src/components/AiPopUpComponent.vue
Due: none

fix images prod
  src/views/PhotoAlbumView.vue
Due: none

public images
  public/img/buso-min.png
  public/img/buso0-min.png
  public/img/buso1-min.png
  public/img/buso2-min.png
  public/img/cimaco-min.png
  public/img/cimaco2-min.png
  public/img/cimaco3-min.png
  public/img/cimaco4-min.png
  public/img/pailot-min.jpg
  public/img/pailot2-min.jpg
  public/img/pailot3-min.png
  public/img/pailot4-min.png
  public/img/pailot5-min.jpg
  public/img/salud-min.png
  public/img/salud2-min.png
  public/img/salud3-min.png
  public/img/transportamex-min.png
  public/img/transportamex2-min.png
  public/img/transportamex3-min.png
  public/img/transportamex5-min.png
  public/img/transportamex6-min.png
  src/views/PhotoAlbumView.vue
  vitest.config.ts
Due: eslint --fix

new section
  src/components/FooterComponent.vue
  src/components/MenuHeader.vue
  src/i18n/en/index.ts
  src/i18n/es/index.ts
  src/router/index.ts
  src/views/AboutView.vue
  src/views/CharityView.vue
Due: eslint --fix

p animation
  src/assets/css/main.css
  src/i18n/es/index.ts
  src/views/CharityView.vue
Due: eslint --fix

nuevas páginas
  src/assets/css/index.css
  src/i18n/en/index.ts
  src/i18n/es/index.ts
  src/router/index.ts
  src/views/AcademicView.vue
  src/views/CharityView.vue
  src/views/DatabaseView.vue
  src/views/WebDevelopmentView.vue
Due: eslint --fix

mejores textos
  src/i18n/en/index.ts
  src/i18n/es/index.ts
  src/views/AcademicView.vue
  src/views/DatabaseView.vue
Due: eslint --fix

fix: linting errors
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  DEPLOYMENT.md
  package.json
  src/components/__tests__/App.spec.ts
  src/components/__tests__/FooterComponent.spec.ts
  src/utils/__tests__/helpers.spec.ts
  src/utils/helpers.ts
Due: eslint --fix, prettier --list-different

PI-00000: Message
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

PI-00000: Message
  .github/workflows/deploy.yml
Due: none

PI-00000: Message
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  WORKFLOW_FIXES.md
Due: prettier --list-different

PI-00000: Message
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --list-different: any of: *.md
